{{#partial "styleLink"}}

{{/partial}}
{{#partial "content"}}



        {{#if posts}}
            <h3 class="text-center">These are the posts</h3><br>
            <section class="flex col-md-12">
            {{#each posts}}
                <div class="container card card-lg col-md-8">
                    <p>Current post{{ createdAt }}</p>
                    <p>{{ content }}</p>
                    <p>{{ time }}</p>
                    <a href="/posts/{{ id }}/update">Update post</a>
                    <a href="/post/delete/{{id}}">DELETE this post (no undo)</a>
                </div><br>
            {{/each}}
        {{else}}
            <h3 class="jumbotron">Posts coming soon</h3>
            </section>
        {{/if}}






{{/partial}}
{{> layout.hbs}}